.text-primary{
  color: $primary;
}
.text-secondary{
  color: $secondary;
}
.text-danger{
  color: $danger;
}
.text-success{
  color: $success;
}
.text-warning{
  color: $warning;
}
.text-muted{
  color: $muted;
}