{% extends "extends/_base.html" %}

{% block content %}
<!-- begin main -->
<main class="main">
  <div class="container">

    <h1 class="page__title">{{ page.title }}</h1>
    {% include 'templates/_breadcrumbs.html' %}

    {# Start => Do not remove this code! #}
    <ul>
      <!-- inject:json -->
      <!-- endinject -->

    </ul>
    <ul>
      <li><a href="svg-sprite-preview.html">SVG sprites preview page</a></li>
      <li><a href="js/report.html">Report js files</a></li>
    </ul>
    {# End => Do not remove this code! #}

  </div>
</main>
<!-- end main -->
{% endblock %}
