{% extends "extends/_ui-kit.html" %} {% block uikit %}
<!-- begin main -->
<main class="main">
  <div class="container">

    <h1 class="ui-page-title page__title">{{ page.title }}</h1>

    <div class="ui-block">
      <h4 class="ui-title">&lt;h1&gt;, &lt;h2&gt;, &lt;h3&gt;, &lt;h4&gt;, &lt;h5&gt;, &lt;h6&gt;</h4>
      <h1>Heading h1</h1>
      <h2>Heading h2</h2>
      <h3>Heading h3</h3>
      <h4>Heading h4</h4>
      <h5>Heading h5</h5>
      <h6>Heading h6</h6>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;p&gt;</h4>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden</p>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden</p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;small&gt;</h4>
      <div class="ui-desc">Example small tag</div>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden 
      <small>small tag small tag small tag small tag</small>
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden</p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">Example <small>small tag</small> in heading h4</h4>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;a href=&quot;#&quot;&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, <a href="#">Грегор Замза</a> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный
        <a href="#">дугообразными чешуйками живот</a>, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что
        со мной случилось?» – подумал он. Это не было сном.</p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;ul&gt;&lt;li&gt;</h4>
      <ul>
        <li>Проснувшись однажды утром после беспокойного сна</li>
        <li>Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
          <ul>
            <li>Проснувшись однажды утром после беспокойного сна</li>
            <li>Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</li>
            <li>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</li>
            <li>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</li>
          </ul>
        </li>
        <li>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</li>
        <li>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</li>
      </ul>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;ol&gt;&lt;li&gt;</h4>
      <ol>
        <li>Проснувшись однажды утром после беспокойного сна</li>
        <li>Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
          <ol>
            <li>Проснувшись однажды утром после беспокойного сна</li>
            <li>Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</li>
            <li>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</li>
            <li>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</li>
          </ol>
        </li>
        <li>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</li>
        <li>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</li>
      </ol>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;dl&gt;&lt;dt&gt;&lt;dd&gt;</h4>
      <dl>
        <dt>Processor</dt>
        <dd>Intel Core</dd>
        <dt>Graphic card</dt>
        <dd>GeForce</dd>
      </dl>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;hr&gt;</h4>
      <hr>

      <h4 class="ui-title">&lt;blockquote&gt;, &lt;cite&gt;</h4>
      <blockquote>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными
        чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал
        он.
        <footer>Author name
          <cite>Origin</cite>
        </footer>
      </blockquote>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;abbr&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна <abbr title="Atman Landing">AL</abbr> Грегор Замза обнаружил. <abbr title="Cascading Style Sheets">CSS</abbr> Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;mark&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, <mark>Грегор Замза</mark> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. <mark>Его многочисленные, убого тонкие по сравнению с остальным телом</mark>ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;code&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил <code>&lt;div&gt;Блок &lt;a href="#link"&gt;кода&lt;/a&gt;&lt;/div&gt;</code></p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;pre&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил
        <pre>&lt;div&gt;Блок &lt;a href="#link"&gt;кода&lt;/a&gt;&lt;/div&gt;</pre>
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;kbd&gt;</h4>
      <p>Чтобы скопировать текст нужно его выделить и нажать <kbd>Ctrl+C</kbd>, а чтобы его вставить потребуется нажать на сочетание клавиш <kbd>Ctrl+V</kbd> на клавиатуре.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;del&gt;, &lt;s&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна,
        <del>Грегор Замза</del> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, <s>он видел, стоило ему приподнять голову, свой коричневый, выпуклый,</s>разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
        <s>Его многочисленные, убого тонкие по сравнению с остальным телом</s> ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;u&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна,
        <u>Грегор Замза</u> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, <u>он видел, стоило ему приподнять голову, свой коричневый, выпуклый,</u>разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. <u>Его многочисленные, убого тонкие по сравнению с остальным телом</u> ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;ins&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, <ins>Грегор Замза</ins> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, <ins>он видел, стоило ему приподнять голову, свой коричневый, выпуклый,</ins>разделенный
        дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. <ins>Его многочисленные, убого тонкие по сравнению с остальным телом</ins> ножки беспомощно копошились у него перед глазами. «Что со
        мной случилось?» – подумал он. Это не было сном.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;b&gt;, &lt;strong&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, <b>Грегор Замза</b> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, <strong>он видел, стоило ему приподнять голову, свой коричневый, выпуклый,</strong>разделенный
        дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. <b>Его многочисленные, убого тонкие по сравнению с остальным телом</b> ножки беспомощно копошились у него перед глазами. «Что со мной
        случилось?» – подумал он. Это не было сном.
      </p>
    </div>
    <div class="ui-block">
      <h4 class="ui-title">&lt;em&gt;, &lt;i&gt;</h4>
      <p>Проснувшись однажды утром после беспокойного сна, <em>Грегор Замза</em> обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, <em>он видел, стоило ему приподнять голову, свой коричневый, выпуклый,</em>разделенный
        дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. <i>Его многочисленные, убого тонкие по сравнению с остальным телом</i> ножки беспомощно копошились у него перед глазами. «Что со мной
        случилось?» – подумал он. Это не было сном.
      </p>
    </div>

    <div class="ui-block">
      <div class="ui-title">Buttons</div>
      <button type="button">Normal button</button>
      <button type="button" disabled>Disabled button</button>
      <input type="submit" value="Submit button">
      <input type="submit" value="Submit button disabled" disabled>
      <input type="button" value="Input button">
    </div>

    <div class="ui-block">
      <h4 class="ui-title">Table</h4>
      <table border="1">
        <caption>Table 1.1. Title Caption</caption>
        <thead>
          <tr>
            <th>№</th>
            <th>Title One</th>
            <th>Title Two</th>
            <th>Title Three</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ячейка таблицы</td>
            <td>Ячейка таблицы</td>
            <td>Ячейка таблицы</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Ячейка таблицы</td>
            <td>Ячейка таблицы</td>
            <td>Ячейка таблицы</td>
          </tr>
        </tbody>
        <tfoot>
          <th>4</th>
          <td>Footer One у ячейки</td>
          <td>Footer Two у ячейки</td>
          <td>Footer Three у ячейки</td>
        </tfoot>
      </table>
    </div>

    <div class="ui-block">
      <div class="ui-title">Form</div>
      <form id="form_1" method="post" action="">
        <div class="ui-form-group">
          <label>Text</label>
          <input type="text" name="username" placeholder="placeholder" required="">
        </div>
        <div class="ui-form-group">
          <label>Text disabled</label>
          <input type="text" name="sirname" placeholder="disabled field" disabled>
        </div>
        <div class="ui-form-group">
          <label>Search</label>
          <input type="search">
        </div>
        <div class="ui-form-group">
          <label>Email</label>
          <input type="email" name="email" required="">
        </div>
        <div class="ui-form-group">
          <label>URL</label>
          <input type="url" name="link" required="">
        </div>
        <div class="ui-form-group">
          <label>Password</label>
          <input type="password" name="password" required="">
        </div>
        <div class="ui-form-group">
          <label>Password confirm</label>
          <input type="password" name="confirm_password" required="">
        </div>
        <div class="ui-form-group">
          <label>Phone</label>
          <input type="tel" name="phone" class="tel" required="">
        </div>
        <div class="ui-form-group">
          <label>Textarea</label>
          <textarea name="textarea" rows="4" required=""></textarea>
        </div>
        <div class="ui-form-group">
          <label>Number</label>
          <input type="number">
        </div>
        <div class="ui-form-group">
          <label>Date and time</label>
          <input type="date">
        </div>
        <div class="ui-form-group">
          <label>Month</label>
          <input type="month">
        </div>
        <div class="ui-form-group">
          <label>Week</label>
          <input type="week">
        </div>
        <div class="ui-form-group">
          <label>Time</label>
          <input type="time">
        </div>
        <div class="ui-form-group">
          <label>Color</label>
          <input type="color">
        </div>
        <div class="ui-form-group">
          <label>File default browser single</label>
          <input type="file">
        </div>
        <div class="ui-form-group">
          <label>File default browser multiple</label>
          <input type="file" multiple="">
        </div>
        <div class="ui-form-group">
          <label>Select default</label>
          <select name="select" required="">
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
          </select>
        </div>
        <div class="ui-form-group">
          <label>Select default size = 2</label>
          <select name="select" required="" size="2">
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
          </select>
        </div>
        <div class="ui-form-group">
          <label>Select disabled</label>
          <select name="select" disabled>
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
          </select>
        </div>
        <div class="ui-form-group">
          <label>Select default multiple</label>
          <select multiple>
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
          </select>
        </div>
        <div class="ui-form-group">
          <label for="">Checkbox</label><br>
          <label for="ch-0">
            <input type="checkbox" id="ch-0" name="checkbox_group"> this is a checkbox 1
          </label>
          <label for="ch-1">
            <input type="checkbox" id="ch-1" name="checkbox_group"> this is a checkbox 2
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Checkbox checked</label><br>
          <label for="ch-2">
            <input type="checkbox" id="ch-2" checked="checked"> this is a checkbox
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Checkbox disabled</label><br>
          <label for="ch-3">
            <input type="checkbox" id="ch-3" disabled=""> this is a checkbox
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Checkbox checked disabled</label><br>
          <label for="ch-4">
            <input type="checkbox" id="ch-4" disabled="" checked=""> this is a checkbox
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Radio Inline</label><br>
          <label for="r-1">
            <input type="radio" id="r-1" name="radio_group"> this is a radio 1
          </label>
          <label for="r-2">
            <input type="radio" id="r-2" name="radio_group"> this is a radio 2
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Radio checked</label><br>
          <label for="r-3">
            <input type="radio" id="r-3" name="radio2" checked=""> this is a radio
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Radio disabled</label><br>
          <label for="r-4">
            <input type="radio" id="r-4" name="radio3" disabled=""> this is a radio
          </label>
        </div>
        <div class="ui-form-group">
          <label for="">Radio disabled checked</label><br>
          <label for="r-5">
            <input type="radio" id="r-5" name="radio4" disabled="" checked=""> this is a radio
          </label>
        </div>
      </form>

    </div>

    <div class="ui-block">
      <h4 class="ui-title">Additional</h4>
      <h5>css class .rouble</h5>
      <h2 class="rouble">abcdefghijklmnopqrstuvw</h2>
    </div>

  </div>
</main>
<!-- end main -->
{% endblock %}