$s-cabrio-x: 0px;
$s-cabrio-y: 0px;
$s-cabrio-offset-x: 0px;
$s-cabrio-offset-y: 0px;
$s-cabrio-width: 64px;
$s-cabrio-height: 64px;
$s-cabrio-total-width: 128px;
$s-cabrio-total-height: 128px;
$s-cabrio-image: '../images/sprite.png';
$s-cabrio: 0px 0px 0px 0px 64px 64px 128px 128px '../images/sprite.png';
$s-excavator-x: 64px;
$s-excavator-y: 0px;
$s-excavator-offset-x: -64px;
$s-excavator-offset-y: 0px;
$s-excavator-width: 64px;
$s-excavator-height: 64px;
$s-excavator-total-width: 128px;
$s-excavator-total-height: 128px;
$s-excavator-image: '../images/sprite.png';
$s-excavator: 64px 0px -64px 0px 64px 64px 128px 128px '../images/sprite.png';
$s-truck-x: 0px;
$s-truck-y: 64px;
$s-truck-offset-x: 0px;
$s-truck-offset-y: -64px;
$s-truck-width: 64px;
$s-truck-height: 64px;
$s-truck-total-width: 128px;
$s-truck-total-height: 128px;
$s-truck-image: '../images/sprite.png';
$s-truck: 0px 64px 0px -64px 64px 64px 128px 128px '../images/sprite.png';
