// Custom variables

$font-size: () !default;
$font-size: map-merge((
  sm:         (16px * .875),
  base:       16px,
  lg:         (16px * 1.25),
  h1:         30px,
  h2:         24px,
  h3:         20px,
  h4:         18px,
  h5:         16px,
  h6:         14px
), $font-size);
// example: font-size(base);

$font-weight: () !default;
$font-weight: map-merge((
  base:       400,
  thin:       100,
  ultralight: 200,
  light:      300,
  normal:     400,
  regular:    400,
  headings:   500,
  medium:     500,
  semibold:   600,
  bold:       700,
  heavy:      800,
  extrabold:  900
), $font-weight);
// example: font-weight(regular);

// LINE-HEIGHT

$line-height: () !default;
$line-height: map-merge((
  base:       1.5,
  sm:         1.2,
  lg:         1.875,
  headings:   1.2
), $line-height);
// example: line-height(base);